.cell{
   width: 48px;
   height: 48px; 
   background-color: red;
   border: 1px solid black;
}

.bordered-cell{
    
    border-bottom: 8px solid #0DA192;
}

.no-border-right-cell{
    
    border-bottom: 8px solid #0DA192;

}

.no-border-bottom-cell{
   
    border-right: 8px solid #0DA192;
}